/*---------------- Home Page ---------------------*/
#navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#navbar a {
    float: left;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#navbar a:hover {
    background-color: #999;
}

#BC_Info {
    padding: 20px;
    text-align: right;
}

#Class_Info {
    padding: 20px;
}

#Class_Info h2 {
    text-align: center;
    padding: 20px;
}


/*---------------- Portfolio Page ----------------*/
h1 {
    text-align: center;
    font-size: 40px; 
}

#intro {
    width: 600px;
    text-align: center;
    padding: 20px;
}
   
#bio {
    width: 900px;
}

/*---------------- Comp B10 Page ----------------*/
#Chapters {
    background-color: #ddd;
    width: 550px;
    margin: 30px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#Book {
    width: 550px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
}

#Book img {
    width: 250px;
    border-radius: 15px;
}

#bookInfo {
    position: relative;
}

#code {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

