<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- CSS File-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <title>Comp B10</title>
    </head>
    <body>
        <nav id="navbar">
            <a href="{{ url_for('index') }}">Homepage</a>
            <a href="{{ url_for('portfolio') }}">Portfolio</a>
            <a href="{{ url_for('classInfo') }}">Comp B10</a>
            <a href="https://github.com/dbenitez02" target="_blank">Github</a>
        </nav>
        <h1 style="padding-bottom: 50px; text-align: center;">Comp B10 summed up</h1>
        <div id="Book">
            <img src="/static/Website/Python_Cover.jpg" alt="Starting out with Python">
            <p id="bookInfo">Starting Out With Python was the book used for the class.</p>

        </div>
        <div id="Chapters">
            <h2>Chapter 1 - Introduction to Computers and Programming</h2>
                <p>
                    To sum it up, the basics of how a computer works is discussed. Such as the parts of a computer like a CPU or RAM.
                    The differences between volitile and involitile memory, input and output devices.
                </p>
        </div>
        <div id="Chapters">
            <h2>Chapter 2 - Input, Processing, and Output</h2>
            <p>
                This chapter helps understand the bare bones on writing a program. Learning the steps to designing a program like 
                writing psuedocode which is writing fake code to model a program or using a flow chart to depict steps in a program. 
                Learning how to use the <code>print()</code> to output data.
            </p>
        </div>
        <div id="Chapters">
            <h2>Chapter 3 - Decision Structures and Boolean Logic</h2>
            <p>
                We learn how to write condition statements using <code>if, if-else</code> statements. The use of boolean expressions such 
                as <code>>, <, ==, != </code> and many more. 
            </p>
        </div>
        <div id="Chapters">
            <h2>Chapter 4 - Repetition Structures</h2>
            <p>
                The use of For-loops and While-loops are used to run repetitious tasks. For-loops are count-controlled loops and While-loops
                are condition-controlled loops.
            </p>
            <div id="code">
                <p>For-loop syntax:</p>
                    <code>
                        for <i>variables</i> in [val1, val2, ...]:<br>
                        <p style="padding-left: 1em"><i>statements</i></p>
                    </code>
                <br>
                <p>While-loop syntax:</p>
                    <code>
                        while (<i>condition</i>):<br>
                        <p style="padding-left: 1em"><i>statements</i></p>
                    </code>
            </div>
        </div>
        <div id="Chapters">
            <h2>Chapter 5 - Functions</h2>
            <p>
                Functions are excellent for organizing smallers tasks from one big task. A couple of benefits in using functions is simpler more
                readable code, faster development, and better testing/debugging.
            </p>
            <br>
            <div id="code">
                <p>Syntax:</p>
                    <code>
                        def <i>function_name</i>():
                        <p style="padding-left: 1em">
                            <i>statment</i><br>
                            <i>statment</i>
                        </p>
                    </code>
            </div>
        </div>
        <div id="Chapters">
            <h2>Chapter 6 - Files and Exceptions</h2>
            <p>
                Python has functions and methods to read and write files. A file can be accessed three ways:<code> 'r' read, 'w' write, and 'a' append.</code> 
                Reading mode accesses the file in read mode meaning no changes will be made. Write mode gives the option to write data to a file but it will
                overwrite the file after each save. Append mode safely writes  data to an existing file without overwriting the file.
            </p>
            <div id="code">
                <p>
                    Opening a file:<br>
                    <code>file_object = open(<i>file_name</i>, <i>mode</i>)</code>
                </p>
            </div>
        </div>
        <div id="Chapters">
            <h2>Chapter 7 - Lists and Tuples</h2>
            <p>
                Lists (Or sequences) are objects that contain multiple items. Tuples are like lists except they are immutable. You can add more items to a 
                list but not to a tuple. 
            </p>
            <div id="code">
                <p>Creating a list:<br>
                    <code>list = [item1, item2, ...]</code>
                </p>
                <p>Creating a tuple:<br>
                    <code>tuple = (item1, item2, ...)</code>
                </p>
            </div>
            <p>There are methods built in the language to create and alter lists such as:<br></p> 
                <code>
                    append(item)# Adds item to list.<br>
                    index(item) # Returns index num of item if it exists. <br>
                    remove(item)# Remove item from the list if it exists.
                </code> 
        </div>
        <div id="Chapters">
            <h2>Chater 8 - More about Strings</h2>
            <p>
                Strings are also considered sequences. The methods and functions that work with sequences will also work with strings.
            </p>
            <div id="code">
                <p>Use a for-loop to access an individual character in a string:<br></p>
                    <code>
                        for <i>character</i> in <i>string</i>:
                        <p style="padding-left: 1em;">string[character]</p>
                    </code>
            </div>
            <p>Character is the index of string and will iterate until there are no more characters.</p>
        </div>
        <div id="Chapters">
            <h2>Chater 9 - Dictionaries and Sets</h2>
            <p>
                Dictionaries are objects that store a collection data and are unsorted. Each element has a key and a value. Dictionaries 
                are mutable. Sets are also object and store a collection of data as a mathematical set. All items are unique and can be
                any data type.
            </p>
            <div id="code">
                <p>Creating a dictionary:<br></p>
                    <code>
                        dictionary = {key1:value1, key2:value2, ...}
                    </code>
                <p>Creating a set using the <code>set</code> function<br></p>
                    <code>
                        set()<br>
                        or<br>
                        set(<i>argument</i>)<br>
                    </code>
            </div>
            <p>
            The <code>set</code> function can have no argument for an empty set or have an object passed like a tuple or list.
            </p>
        </div>
        <div id="Chapters">
            <h2>Chater 10 - Classes and Object-Oriented Programming</h2>
            <p>
                Object-oriented programming focuses on using objects that contain data attributes and methods that can be interacted by any
                outside code. A class is code that specifies the data attributes and methods of a particular type in an object. Think of the
                class as the blueprints to a house and the objects are the houses built using that blueprint.
            </p>
            <div id="code">
                <p>Set up the class with an initalizer:<br></p>
                    <code>
                        class <i>Class_Name:<br></i>
                        <p style="padding-left: 1em">
                        def __init__ (self):
                        </p>
                    </code>
            </div>
            <p>
                The initializer method is the first to be written in the class and is automatically executed when an instance of the class is
                executed. The initializer has a <code>self</code> parameter assigned.
            </p>
        </div>
        <div id="Chapters">
            <h2>Chater 11 - Inheritance</h2>
            <p>
                When programming objects in the real world, many objects are a specialized version of a more general object. Like say a rectangle
                is a shape or a bee is an insect. This is inheritance, which are classes that share an "is a" relationship.
            </p>
            <div id="code">
                <p>How Inheritance works:<br></p>
                    <code>
                        class Main_Class:<br>
                        <p style="padding-left: 1em"><i>statements</i><br></p>
                        class Sub_Class(Main_Class):<br>
                        <p style="padding-left: 1em"><i>statements</i><br></p>
                    </code>  
            </div>
            <p>
                <code>Sub_Class</code> inherits all the general data from <code>Main_Class</code> while adding on its own specialized data. A rectangle
                would be the specialized class to the general class Shapes.
            </p>
        </div>
        <div id="Chapters">
            <h2>Chater 12 - Recursion</h2>
            <p>
                Recursive functions are functions that calls itself. It is a powerful tool to solve repetitive problems although not required to do so. In
                some cases, a loop is better at solving problems than using recursive algorithms. Some problems dont need to be solved with recusrion, which
                is where a base case would be handy like. 
            </p>
        </div>
    </body>
</html>
